.conteiner{
  background: rgb(255, 171, 118);
}


.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px rgb(255, 171, 118);
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}

.imgarcoiris{
  width: 27px;
}
.carritoimg{
  width: 50px;
}
.compras{
  font-size: 40px;
  font-style: italic;
  text-decoration: underline;
}
.conteiner-main{
  font-family: Arial;
  text-align: center;
  padding-top: 50px;
  display: grid;
  grid-template-areas: 
  "titulo titulo titulo"
  "cardContainer cardContainer cardContainer"
"cardContainer1 cardContainer1 cardContainer1";
    
}

.cardDescri {
  text-align: center;
}
.titulo{
  grid-area: titulo;
  font-family: 'Amatic SC', cursive;
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}
.cardContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  grid-area: cardContainer;
}
.cardContainer1 {
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  grid-area: cardContainer1;
}
.card {
  background-color: rgb(255, 253, 190);
  width: 25%;
  padding: 20px 10px;
  border: 1px ;
  border-radius: 20px;
  
  }
.card1 {
  text-align: center;
  background-color: rgb(255, 253, 190);
  width: 45%;
  padding: 20px 10px;
  border: 1px ;
  border-radius: 20px;
  }
.titulo1{
  text-align: center;
}
.cardImg {
  width: 80%;
   }
.imgCard{
  text-align: center;
  }
.cardTitulo{
  text-align: center;
}
.cardPrecio {
  text-align: center;
  display: block;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
.seleccionado{
  font-size: 30px;
}
/* efecto carrito */
.agregarCarrito {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: rgb(97, 226, 129);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.agregarCarrito:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.agregarCarrito:active {
  transform: translateY(-1px);
}

/* efecto2 */
.btn2 {
  position: relative;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: rgb(241, 193, 193);
 }
 .btn2:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(163, 26, 26, 0.9);
 }
 .btn2:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(192, 20, 20, 0.9);
 }
 .btn2::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .9s;
 }
 .btn2::after {
  background-color: rgb(187, 20, 20);
 }
 .btn2:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
 }

 /* Efecto3 */
.btn3 {
  position: relative;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: rgb(114, 243, 109);
 }
 .btn3:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(41, 184, 65, 0.9);
 }
 .btn3:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(41, 184, 65, 0.9);
 }
 .btn3::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .9s;
 }
 .btn3::after {
  background-color: rgb(30, 131, 64);
 }
 .btn3:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
 }
